numpy==1.19.1
streamlit==1.2.0
streamlit-drawable-canvas==0.8.0
numpy==1.19.1
pandas==1.0.5
keras==2.7.0
Keras-Preprocessing==1.1.2
tensorflow==2.7.0
tensorflow-estimator==2.7.0
tensorflow-io-gcs-filesystem==0.22.0